<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li><a href="/login">login</a></li>
      <li><a href="/home">Staff Home</a></li>
      <li><a href="/new/applicant">new applicant</a></li>
      <li><a href="/new/department">new department</a></li>
      <li><a href="/departments">Departments</a></li>
      <li><a href="/edit/department/:id">edit department</a></li>
      <li><a href="/delete/department/:id">delete Department</a></li>
      <li><a href="/Applicants">Applicants</a></li>
      <li><a href="/edit/applicant/:id">edit applicant</a></li>
      <li><a href="/delete/applicant/:id">delete applicant</a></li>
      <li><a href="/generate">generate</a></li>
      <li><a href="/export">export</a></li>
      <li><a href="/send/Admission">send Admission</a></li>
    </ul>
    <h2>applicant Access</h2>
    <ul>
      <li><a href="/check">check</a></li>
      <li><a href="/result/:id">result</a></li>
    </ul>
  </body>
</html>
